body {
    font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    
    font-size:14px;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
 }

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.clearfix {
    zoom: 1;
}

/* emulate heading styles */ 
.h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
}

.h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}

.h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
}

.h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}

.h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
}

.h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0;
}

.nav-justified {
    width: 100%;
}

.nav-justified li {
    display: table-cell;
    width: 1%;
}

.nav-inline {
    list-style:none;
}

.nav-inline li {
    display:inline-block;
    margin: 0.1rem;
}

/*menu justify*/
.menu-justified {
    width: 100%;
    /*height: 64px;*/
}
.menu-justified>li {
    float: none;
    text-align:center;
}
.menu-justified>li>a {
    width: 100%;
    line-height: 1.5em;
    font-size: 1.5em;
}
.menu-justified:hover > li.active {
     background-color: transparent;
}

@media (min-width: 600px) {
    .menu-justified>li {
        display: table-cell;
        width: 1%;
    }
}
/*menu justify*/

.sr-only { 
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    width: 1px; 
    margin: -1px; 
    padding: 0; 
    border: 0; 
}

div.preloader {
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 1050; 
    width: 100%; 
    height: 100%; 
    overflow: visible; 
}

.spinner-white, .spinner-white-only {
    border-color: #ffffff;
}

.header h1 {
    margin: 0;
    padding: 5px 0px;
}

.header {
    padding-top:20px;
}

.main-nav {
    border-bottom: 7px solid #2c98e0;
    box-sizing: content-box;
}

nav ul a:hover, nav ul li.active {
    background-color: #2c98e0;
    color: #ffffff;
}

nav ul a {
    font-style: bold;
}

section.section {
    margin-top:20px;
}

/*
.nav-fixed {
    position: relative;
}

@media only screen and (max-width: 993px) {
    
    .nav-fixed {
        position: fixed;
        left: 50%;
        top: 0%;
        transform: translateX(-50%);
        z-index:997;
    }
}*/

.palette {
    background-color:#2C98E0 !important;
}

.palette.lighten-1 {
    background-color:#47A5E4 !important ;
}

.palette.lighten-2 {
    background-color:#61B2E8 !important ;
}

.palette.lighten-3 {
    background-color:#A0D0F1 !important ;
}

.palette.lighten-4 {
    background-color:#D0E8F8 !important ;
}

.palette.darken-1 {
    background-color:#1E88CF !important ;
}

.palette.darken-2 {
    background-color:#1A77B4 !important ;
}

.palette.darken-3 {
    background-color:#17659A !important ;
}

.palette.darken-4 {
    background-color:#13547F !important ;
}

@media only screen and (max-width: 601px) {
    .sidebar-1, .sidebar-2, .sidebar-3 {
        text-align:center;
    }
}

.social-media {
    padding-top: 20px;
}

.social-media a:not(:first-child):not(:last-child) {
    margin-left:10px;
    margin-right:10px;
}

.social-media a:first-child {
    margin-right:10px;
}

.social-media a:last-child {
    margin-left:10px;
}

.social-media .fa {
    font-size:1.5em;
}

.social-media a {
    padding: 1rem 0.7rem 0.7rem 0.7rem;
    border: 1px solid rgba(255,255,255,.3);
    border-radius: .5rem;
    line-height: 3rem;
}

.breadcrumb {
    font-size: 0.85rem;
}

.breadcrumb:before {
    color: rgba(0,0,0,.7);
}

.breadcrumb-list span:first-child .breadcrumb:before {
    display:none;
}
nav.breadcrumb-list {
    background-color: transparent;
    padding: 0 1.5rem;
    border: 1px solid #b3b3b3;
    background-color: #dadada;
    border-radius: 11px;
}

@media only screen and (min-width: 601px) {
    nav.breadcrumb-list {
        height: 53px;
        line-height: 53px;
    }
}

.facebook, .facebook.btn-floating { 
    background-color: #f0f0f0;
    border:1px solid #3b5b98;
    color: #3b5b98;
}
.facebook.btn-floating i {
    color: #3b5b98;
}

.google-plus, .google-plus.btn-floating { 
    background-color: #f0f0f0;
    border:1px solid #e64a55;
    color: #e64a55;
}
.google-plus.btn-floating i {
    color: #e64a55;  
}

.twitter, .twitter.btn-floating {
    background-color: #f0f0f0;
    border:1px solid #60cbef;
    color: #60cbef;
}
.twitter.btn-floating i {
    color: #60cbef;
}

.rss { 
    background-color: #f0f0f0;
    border:1px solid #f05223;
    color: #f05223;
}
.youtube, .youtube.btn-floating { 
    background-color: #f0f0f0;
    border:1px solid #ca2128;
    color: #ca2128;
}
.youtube.btn-floating i { 
    color: #ca2128;
}
.pinterest, .pinterest.btn-floating { 
    background-color: #f0f0f0;
    border:1px solid #850d16;
    color: #850d16;
}
.pinterest.btn-floating i { 
    color: #850d16;
}

.instagram, .instagram.btn-floating { 
    background-color: #f0f0f0;
    border:1px solid #356596;
    color: #356596;
}
.instagram.btn-floating i { 
    color: #356596;
}

.reddit, .reddit.btn-floating { 
    background-color: #f0f0f0;
    border:1px solid #ff4500;
    color: #ff4500;
}
.reddit.btn-floating i { 
    color: #ff4500;
}

.linkedin, .linkedin.btn-floating { 
    background-color: #f0f0f0;
    border:1px solid #0077b5;
    color: #0077b5;
}
.linkedin.btn-floating i { 
    color: #0077b5;
}

.facebook:hover { 
    background-color: #ffffff;
    border:1px solid #5a8be6;
    color: #5a8be6;
}
.google-plus:hover { 
    background-color: #ffffff;
    border:1px solid #f78c94;
    color: #f78c94;
}
.twitter:hover { 
    background-color: #ffffff;
    border:1px solid #9fe7ff;
    color: #9fe7ff;
}
.rss:hover { 
    background-color: #ffffff;
    border:1px solid #f05223;
    color: #f05223;
}
.youtube:hover { 
    background-color: #ffffff;
    border:1px solid #ca2128;
    color: #ca2128;
}
.pinterest:hover { 
    background-color: #ffffff;
    border:1px solid #e51728;
    color: #e51728;
}
.instagram:hover { 
    background-color: #ffffff;
    border:1px solid #356596;
    color: #356596;
}
.reddit:hover { 
    background-color: #ffffff;
    border:1px solid #ff7c4b;
    color: #ff7c4b;
}
.linkedin:hover { 
    background-color: #ffffff;
    border:1px solid #009df2;
    color: #009df2;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    
    font-weight:bold;
}

@media only screen and (max-width: 601px) {    
    .breadcrumb-list .col > span:not(:last-child) {
        display:none;
    }
}

figure {
    margin:0px;
}

.soft-crop {
    object-fit: cover;
}

.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexbox-container > div, .flexbox-container > .col {
	padding: 10px;
}

.flexbox-container > div:first-child {
	/*margin-right: 20px;*/
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

#wp-calendar {
    width:100%;
    font-size:12px;
    font-weight:300;
    border-collapse:separate;
    border-spacing:8px;
    margin-left:-2px;
}

#wp-calendar caption {
    display:none;
}

#wp-calendar tbody td {
    margin-bottom:10px;
    text-align:center;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
    border: 1px solid #cecbcb;
    padding:6px;
}

#wp-calendar tbody td:hover {
    border-color: #9e9e9e;
}

#wp-calendar tbody td.pad {
    border:0;
}

#wp-calendar tbody td#today {
    color:#47C2DC;
    border-color:#47C2DC;
}

#wp-calendar tfoot td#prev a,#wp-calendar tfoot td#next a {
    color:#888;
    font-size:12px;
    font-weight:400;
    position:relative;
    text-transform:uppercase;
    bottom:-9px;
    margin-bottom:1px;
}

#wp-calendar tfoot td#prev {
    text-align:left;
}

#wp-calendar tfoot td#next {
    text-align:right;
}

#wp-calendar thead th {
    font-size:13px;
    font-weight:400;
    color:#888;
    text-align:center;
    padding-bottom:10px;
}

#wp-calendar tbody td a,#wp-calendar tfoot td#prev a:hover,#wp-calendar tfoot td#next a:hover {
    color:#47C2DC;
}

footer.page-footer * {
    color: #eee;
}

footer.page-footer > div {
    padding: 1rem 0;
}

footer.page-footer .footer-copyright {
    font-size: 0.8rem;
    line-height: 1.75rem;
    height: auto;
}

nav.main-nav a {
    color: #eee;
}

nav.main-nav ul.dropdown-content li a {
    color: #000;
}

nav.main-nav ul.dropdown-content li a:hover {
    color: #eee;
}

.footer-menu {
    margin:0;
}

.footer-menu li {
    padding: 0 0.75rem;
}

.footer-menu li a {
    /*font-size: 1.04rem;
    line-height: 2.5rem;*/
}

.footer-category {
    margin-bottom:20px;
    overflow:hidden;
}

.footer-category li{
    line-height:1.5em;
    height: 1.5em;
    float:left;
    display:inline;
    position: relative;
    margin: 0.4rem 0.1rem;
}

.footer-category li a, .footer-category li span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

@media only screen and (max-width: 1300px){
    footer #double li  { 
        width:100%;
    } /* 2 col */
}

@media only screen and (max-width: 992px){
    footer #double li  { 
        width: 49%;
    } /* 2 col */
}

@media only screen and (max-width: 390px){
    footer #double li  { 
        width: 100%;
    } /* 2 col */
}


#double li  { width:49%;} /* 2 col */
#triple li  { width:33.333%; } /* 3 col */
#quad li    { width:25%; } /* 4 col */
#six li     { width:16.666%; }

span.badge {
    background-color: rgba(255, 255, 255, 0.2);
}

.post {
    position:relative;
}

.post .post-image {
    width:25%;
    padding-right:1rem;
}

.post .post-content {
    width:75%;
    padding: 0 0 0 1rem;
}

.post .post-content * {
    margin:0;
}

.post .post-image, .post .post-content {
    float: left;
}

.card-img, .card-ttle {
    float: left;
}

.card-img {
    width: 35.95%;
}

.card-ttle {
    width: 64.05%;
}

.card-ttle h1,
.card-ttle * {
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0.4rem;
    padding-left: 0.5rem;
}

.section-title {
    color: #fff;
    background-color: black;
    padding: 0.01rem 1.1rem;
    margin: 0 0 1rem;
}

.card-image .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.overlay-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
}

.overlay-wrapper h1 {
    font-size: 2rem;
}

.overlay-wrapper * {
    color: white;
}

.overlay-wrapper span:not(:first-child):not(:last-child) {
    margin-left:10px;
    margin-right:10px;
}

.overlay-wrapper span:first-child {
    margin-right: 10px;
}

.overlay-wrapper span:last-child {
    margin-left: 10px;
}

.card.section-1 {
    height:370px;
}

.card.section-1 .card-image {
    max-height:97%;
    overflow: hidden;
}

[class*=' imghvr-'] figcaption, [class^=imghvr-] figcaption{

    background-color: rgba(0, 0, 0, 0.9);
}

.top-bunk .bunk-title {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
        margin: 0;
}

body .ads {
    display:inline-block;
    position:relative;
}

@media only screen and (min-width: 992px) {
    

    body .ads:nth-child(odd) {
        padding-right: 5px;
    }

    body .ads:nth-child(even) {
        padding-left: 5px;
    }

    body .ads:nth-child(-n+2) {
        padding-bottom: 5px;
    }

    body .ads:nth-last-child(-n+2) {
        padding-top: 5px;
    }

    body .ads:nth-child(3), body .ads:nth-child(4){
        padding-top:5px;
        padding-bottom: 5px;
    }
}

.ad-sign {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
}


.list-inline {
    margin:0;
    list-style:none;
}
.list-inline>li{
    display:inline-block;
    margin-top: 12px;
    margin-bottom: 12px;
}

.list-inline>li>a{
    border: 1px solid #a7a7a7;
    padding: 0.5em 0.75em 0.5em 0.75em;
    border-radius: 7px; 
    line-height: 2.5rem;
}

.list-inline>li:not(:first-child):not(:last-child)>a{
    margin-left: 5px;
    margin-right: 5px;
}

.list-inline>li:first-child>a{
    margin-right: 5px;
}
.list-inline>li:last-child>a{
    margin-left: 5px;
}

.blog-date {
    text-align: center;
}

.blog-date .day,
.blog-date .month,
.blog-date .year{ 
    display: block;
}

.blog-date .day {
    font-size: 5rem;
    margin-bottom: -10px;
}
.blog-date .month {
    font-size: 2rem;
}

.blog-date .year {
    font-size: 1.4rem;
}

.blog-date .year:after {
    content: "";
    border-bottom: 3px solid #2c98e0;
    width: 15%;
    display: block;
    margin: 0 auto;
    padding-bottom: 16px;
}

.tagcloud {
    padding: 5px 15px;
}

.tagcloud a {
	background-color: #ddd;
	border-radius: 3px;
	color: #000;
	display: inline-block;
	margin: 0 5px 5px 0;
	padding: 2px 5px;
	text-decoration: none;
}

.tagcloud a:hover {
	background-color: #999;
	color: #ffffff;
}

img[class*="wp-image"] {
    max-width: 100%;
    height: auto;
    
    
    padding: 3px;
    background: #dedede;
}

img.alignright .wp-caption.alignright {float:right; margin:0 0 1em 1em}
img.alignleft .wp-caption.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter, .wp-caption.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

p img { padding: 0; max-width: 100%; }

.wp-caption {
    margin: 5px;
    border: 1px solid #b2b2c7;
    background: #dedede;
    font-size: 0.9rem;
    color: #000;
    border-radius: 9px;
}

@media only screen and (max-width: 768px){
    .wp-caption {
        width: auto !important;
    }
}


.wp-caption-text { text-align: center; }

.bypostauthor {background: #ffff99;}

.nav-previous, .nav-next {
    line-height: 5rem;
}

.avatar {
    margin: 0 0.8rem;
}

header.comment-meta {
    line-height:45px;
}

.comment-content {
    padding: 0.5rem;
}

.comment, .pingback {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.flexbox-container .card {
    height:100%;
}

.previous-article::before {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    content: '\f104';
    font-family: 'FontAwesome';
    font-size: 2rem;
    padding: 0 0.8rem;
    position:absolute;
    left:0;
    right: auto;
}

.next-article::after {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    content: '\f105';
    font-family: 'FontAwesome';
    font-size: 2rem;
    padding: 0 0.8rem;
    position:absolute;
    left: auto;
    right: 0;
}

@media only screen and (max-width: 992px){
    .overlay-wrapper h1 {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 768px){
    .overlay-wrapper h1 {
        font-size: 1.2rem;
    }
}


/* */

.searchform-navbar {
    line-height:56px;
    height: 56px;
}

@media only screen and (min-width: 601px) {
    .searchform-navbar {
        height: 64px;
        line-height: 64px;
    }   
}

.children li {
    padding-left: 40px;
}

.children .comment::before {
    top: 6%;
    transform: translateY(-50%);
    text-align: center;
    content: '\f148';
    font-family: FontAwesome;
    font-size: 2rem;
    padding: 0 .8rem;
    position: absolute;
    left: -36px;
    right: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.comment {
    position:relative;
}

.comment-respond {
    zoom: 80%;
}

@media only screen and (max-width: 992px){
    main.container {
        padding-top: 10px;
    }
}

@media only screen and (max-width:1200px){
    .hide-on-xl-and-down {
        display: none !important;
    }
}

nav .brand-logo {
    top: 5px;
}

nav .brand-logo img {
    max-width: 150px;
}

.wp-caption img {
    max-width: 100%;
    height: auto;
}

section[class*="recent-posts"] ul li,
section[class*="categories"] ul li,
li.recentcomments,
li.page_item,
li.archive-item, 
li.cat-item,
li.menu-item {
    position: relative;
    padding-left: 1rem;
    margin-bottom: 0.7rem;
}

.children, .sub-menu {
    margin-top: 0.7rem;
}

a.rsswidget {
    display: inline-block;
    font-size: 1.2rem;
}

span.rss-date {
    display: inline-block;
    font-size: 0.9rem;
    color: #9c9c9c;
}

.rssSummary {
    padding: 0.6rem;
    font-size: 1.1rem;
}

.site-logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
}